<div class="mx-auto md:w-full w-full">
  <div class="mx-auto flex flex-row">

    <%= render @employee %>
  </div>

  <div class="" data-controller="tabs">
    <div class="tabs flex-row md:flex-row lg:flex-row xl:flex-row">
      <button class="
                    font-medium
                    text-xs
                    text-slate-700
                    leading-tight
                    uppercase
                    px-6
                    py-3
                    hover:border-transparent hover:bg-gray-100
                    active" 
                    data-action="click->tabs#changeTab" data-tabs-target="tab" data-tab-id="1"><i class="fa-solid fa-id-card pr-5 text-slate-400 text-xl"></i>Персональный данные</button>
      <button class="
                    font-medium
                    text-xs
                    text-slate-700
                    leading-tight
                    uppercase
                    px-6
                    py-3
                    hover:border-transparent hover:bg-gray-100"
                    data-action="click->tabs#changeTab" data-tabs-target="tab" data-tab-id="2"><i class="fa-solid fa-file-contract pr-5 text-slate-400 text-xl"></i>Сертификаты</button>
      <button class="
                    font-medium
                    text-xs
                    text-slate-700
                    leading-tight
                    uppercase
                    px-6
                    py-3
                    hover:border-transparent hover:bg-gray-100"
                    data-action="click->tabs#changeTab" data-tabs-target="tab" data-tab-id="3"><i class="fa-solid fa-file-contract pr-5 text-slate-400 text-xl"></i>Доверенности</button>
      <button class="
                    font-medium
                    text-slate-700
                    text-xs
                    leading-tight
                    uppercase
                    px-6
                    py-3
                    hover:border-transparent hover:bg-gray-100"
                    data-action="click->tabs#changeTab" data-tabs-target="tab" data-tab-id="4"><i class="fa-solid fa-briefcase pr-5 text-slate-400 text-xl"></i>Должности</button>
      <button class="
                    font-medium
                    text-slate-700
                    text-xs
                    leading-tight
                    uppercase
                    px-6
                    py-3
                    hover:border-transparent hover:bg-gray-100"
                    data-action="click->tabs#changeTab" data-tabs-target="tab" data-tab-id="5"><i class="fa-solid fa-briefcase pr-5 text-slate-400 text-xl"></i>Файлы</button>
    </div>
    <div class="tab-content bg-gray-100 flex flex-row justify-center" data-tabs-target="content">
      <div class="tab-content-item p-5 fade-in" data-tabs-target="tabContentItem" data-tab-id="1">
        <% if @employee.personal_datum.present? %>
          <div class="p-5 grid justify-items-center">
            <%= render @personal_data %>
            <br>
            <%= link_to 'Edit', edit_employee_personal_datum_path(@employee, @employee.personal_datum), class: "mt-2 rounded-lg py-2 px-3 bg-gray-200 hover:bg-gray-50 font-medium" %>
          </div>
        <% else %>
          <div class="grid justify-items-center">
            <div class="mb-6 text-lg">Нет данных</div>
            <div>
              <%= link_to 'Добавить персональные данные', new_employee_personal_datum_path(@employee), class: "rounded-lg py-2 px-3 bg-indigo-400 text-white hover:bg-indigo-500 font-medium" %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="tab-content-item p-5 fade-in" data-tabs-target="tabContentItem" data-tab-id="2" hidden>
        <div class="flex justify-center p-5">
          <%= link_to new_employee_certificate_path(@employee), data: { turbo_frame: 'modal' }, class: "rounded-lg btn-circle py-2 px-3 bg-indigo-400 text-white " do %>
            <i class="fa-solid fa-plus font-bold"></i>
          <% end %>
        </div>
        <% if @certificates.present? %>
          <div class="table border-collapse border-t-gray-50 border w-full rounded-lg">
            <div class="table-header-group">
              <div class="table-row border bg-gradient-to-t from-gray-100 to-gray-200 text-xs">
                <div class="table-cell text-left px-5 py-3 font-semibold">Номер запроса</div>
                <div class="table-cell text-left px-5 py-3 font-semibold">Ссылка на запрос</div>
                <div class="table-cell text-left px-5 py-3 font-semibold">Дата окончания</div>
                <div class="table-cell text-left px-5 py-3 font-semibold">Статус</div>
                <div class="table-cell text-left px-5 py-3 font-semibold">Сервис</div>
                <div class="table-cell text-left px-5 py-3 font-semibold">ЮЛ</div>
                <div class="table-cell text-right px-5 py-3"></div>
              </div>
            </div>
            <%= render @certificates %>
          </div>
          <% else %>
          <h1>Нет сертификатов</h1>
          <% end %>
      </div>

      <div class="tab-content-item p-5 fade-in" data-tabs-target="tabContentItem" data-tab-id="3" hidden>
        <div class="flex justify-center p-5">
          <%= render partial: "power_of_attorneys/form", locals: { employee: @employee, power_of_attorney: @employee.power_of_attorneys.build } %>
        </div>
        <% if @power_of_attorneys.present? %>
          <div class="table border-collapse border-t-gray-50 border w-full rounded-lg">
            <div class="table-header-group">
              <div class="table-row border bg-gradient-to-t from-gray-100 to-gray-200 text-xs">
                <div class="table-cell text-left px-5 py-3 font-semibold">Номер запроса</div>
                <div class="table-cell text-left px-5 py-3 font-semibold">Ссылка на запрос</div>
                <div class="table-cell text-left px-5 py-3 font-semibold">Дата окончания</div>
                <div class="table-cell text-right px-5 py-3"></div>
              </div>
            </div>
            <%= render @power_of_attorneys %>
          </div>
          <% else %>
          <h1>Нет доверенностей</h1>
          <% end %>
      </div>

      <div class="tab-content-item p-5 fade-in w-full lg:w-1/2" data-tabs-target="tabContentItem" data-tab-id="5" hidden>
        <div class="flex justify-center p-5">
          <%= form_with(model: @employee) do |form| %>
            <% if @employee.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this department from being saved:</h2>

                <ul>
                  <% @employee.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="mb-3 w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400">
              <%= form.file_field :files, multiple: true, class:"" %>
              <%= form.submit "Добавить", class:"rounded-lg py-1 px-3 bg-indigo-400 text-white" %>
            </div>
           
          <% end %>
        </div>
        <% if @employee.files.attached? %>
          <div class="">
            <%= render partial: "attachments/attached_files", locals: { resource: @employee } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
