<%= form_with(model: [@employee, personal_datum], local: true, class: "contents") do |form| %>
  <% if personal_datum.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(personal_datum.errors.count, "error") %> prohibited this personal_datum from being saved:</h2>

      <ul>
        <% personal_datum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-row gap-3">
    <div class="my-3 w-1/2">
      <%= form.label "СНИЛС", class:"font-semibold text-sm" %>
      <%= form.text_field :snils, class: "shadow rounded-lg border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-3 w-1/2">
      <%= form.label "ИНН", class:"font-semibold text-sm" %>
      <%= form.text_field :inn, class: "shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="flex flex-row gap-3">
    <div class="my-3 w-1/2">
      <%= form.label "Серия паспорта", class:"font-semibold text-sm" %>
      <%= form.text_field :passport_s, class: "shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-3 w-1/2">
      <%= form.label "Номер паспорта", class:"font-semibold text-sm" %>
      <%= form.text_field :passport_n, class: "shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="flex flex-row gap-3">
    <div class="my-3 w-full">
      <%= form.label "Выдан", class:"font-semibold text-sm" %>
      <%= form.text_field :issued_by, class: "shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="flex flex-row gap-3">
    <div class="my-3 w-1/2">
      <%= form.label "Дата выдачи", class:"font-semibold text-sm" %>
      <%= form.date_field :date_of_issue, class: "shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-3 w-1/2">
      <%= form.label "Код подразделения", class:"font-semibold text-sm" %>
      <%= form.text_field :code, class: "shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="flex flex-row gap-3">
    <div class="my-3 w-1/2">
      <%= form.label "Дата рождения", class:"font-semibold text-sm" %>
      <%= form.date_field :date_of_birth, class: "shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-3 w-1/2">
      <%= form.label "Место рождения", class:"font-semibold text-sm" %>
      <%= form.text_field :place_of_birth, class: "shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="flex flex-row gap-3">
    <div class="my-3 w-1/2">
      <%= form.label "Телефон", class:"font-semibold text-sm" %>
      <%= form.text_field :phone_number, class: "shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-3 w-1/2">
      <%= form.label "Email", class:"font-semibold text-sm" %>
      <%= form.text_field :email, class: "shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="my-5" hidden>
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Подтвердить", class: "rounded-lg py-2 px-3 bg-indigo-400 hover:bg-indigo-500 text-white inline-block font-medium cursor-pointer transition" %>
  </div>
<% end %>
