<%= turbo_frame_tag department do %>
  <div id="<%= dom_id department %>" class="flex w-full my-2 rounded-lg hover:shadow items-center px-3 py-2 bg-gray-100 transition" data-search-target="filterable" data-search-key='<%= "#{department.name}".downcase %>'>
    <div class="flex-auto">
      <%= link_to department.name.capitalize, department, class:"font-medium", data: { turbo_frame: "_top" } %>
    </div>
    <%= render "shared/control_buttons", model: department %>
  </div>
<% end %>