<div class="w-2/4">
  <div class="flex justify-between border items-center bg-white px-8 py-3 rounded">
    <h1 class="font-bold text-gray-600 text-2xl">Список отделений</h1>
    <div class="flex justify-center">
      <%= link_to new_department_path, data: { turbo_frame: 'modal' }, class: "block rounded btn-circle px-3 py-2 bg-blue-500 text-white " do %>
        <i class="fa-solid fa-plus font-bold"></i>
      <% end %>
    </div>
  </div>

  <div class="min-w-full mt-3" data-controller="search">
    <input data-remote='true' data-search-target="source" 
              data-action="input->search#filter" 
              type="text" 
              class="search border border-gray-200 rounded" 
              placeholder="Поиск.." />
    <div id="departments" class="bg-white scrollbar border p-8 mt-3 rounded h-[60vh] overflow-auto" data-search-target="results">
      <%= render @departments %>
    </div>
  </div>

<% if false %>
   <div class="my-5"><%== pagy_nav(@pagy) %></div>
<% end %>
 
  
  <details class="border mt-4 p-3 bg-white rounded">
    <summary>import</summary>
    <div class="mb-3"> <!-- Department import -->
      <%= form_tag import_csv_departments_path, multipart: true do %>
      <div class="col input-group">
        <%= file_field_tag :file, class: "form-control" %>
      </div>
      <%= submit_tag "Импортировать", class: "btn btn-sm default-btn" %>
      <% end %>
    </div> <!-- Department import -->
  </details>
  
</div>
