<div class="w-2/4">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-2xl mb-3">Список отделений</h1>
    <div class="flex justify-center mb-3">
      <%= link_to new_department_path, data: { turbo_frame: 'modal' }, class: "rounded-lg btn-circle py-2 px-3 bg-green-500 text-white " do %>
        <i class="fa-solid fa-plus font-bold"></i>
      <% end %>
    </div>
  </div>

  <div id="departments" class="min-w-full">
    <%= render @departments %>
  </div>

  <div class="my-5"><%== pagy_nav(@pagy) %></div>
  

  <div class="mb-3"> <!-- Department import -->
    <%= form_tag import_departments_path, multipart: true do %>
    <div class="col input-group">
      <%= file_field_tag :file, class: "form-control" %>
    </div>
    <%= submit_tag "Импортировать", class: "btn btn-sm default-btn" %>
    <% end %>
  </div> <!-- Department import -->
</div>
