<div class="simple-calendar">
  <div class="calendar-heading flex gap-4 mb-4">
    <%=h link_to t('simple_calendar.previous', default: "#{sanitize '&#9668;'}"), calendar.url_for_previous_view, class: "hover:bg-sky-100 text-sky-700 
                                                                                                    hover:text-sky-500 
                                                                                                    text-xl font-bold 
                                                                                                     rounded-lg 
                                                                                                    px-2 py-1 
                                                                                                    hover:shadow-lg 
                                                                                                    transition" %>
    <span class="calendar-title flex items-center justify-center"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to t('simple_calendar.next', default: "#{sanitize '&#9658;'}"), calendar.url_for_next_view, class: "hover:bg-sky-100 text-sky-700 
                                                                                              hover:text-sky-500 
                                                                                              text-xl font-bold 
                                                                                               rounded-lg 
                                                                                              px-2 py-1 
                                                                                              hover:shadow-lg 
                                                                                              transition" %>
  </div>

  <table class="table table-striped">
    <thead class="bg-gradient-to-r from-sky-100 to-violet-200">
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
