<div id="cerificates">

  <div class="table border-collapse border w-full rounded-lg">
    <div class="table-header-group">
      <div class="table-row bg-gray-100 text-xs font-bold">
        <div class="table-cell text-left px-5 py-3">ФИО</div>
        <div class="table-cell text-left px-5 py-3">Номер запроса</div>
        <div class="table-cell text-left px-5 py-3">Ссылка на запрос</div>
        <div class="table-cell text-left px-5 py-3">Дата окончания</div>
        <div class="table-cell text-left px-5 py-3">Статус</div>
        <div class="table-cell text-left px-5 py-3">Сервис</div>
        <div class="table-cell text-left px-5 py-3">ЮЛ</div>
      </div>
    </div>

  <div class="table-row-group">
    <% certificates.each do |certificate| %>
      <div class="table-row border-b even:bg-gray-100 border-gray-100">
        <div class="table-cell px-5 py-3"><%= certificate.employee.name_with_initial %></div>
        <div class="table-cell px-5 py-3"><%= certificate.request_number %></div>
        <div class="table-cell max-w-sm break-all px-5 py-3"><%= certificate.request_link %></div>
        <div class="table-cell px-5 py-3"><%= certificate.end_date %></div>
        <div class="table-cell px-5 py-3">
          <div clas="flex">
            <% status_for_select.each do |status| %>
            <div class="grow">
              <%= button_to "add", employee_certificate_path(certificate.employee_id, certificate, certificate:{ status: status }), class: "border bg-gray-600 px-2 py-1 #{ certificate.status == status ? certificate.status_class : "text-red-400" }", title: status, method: :patch %>
            </div>
            <% end %>
          </div>
          <%= certificate.status %>
        </div>
        <div class="table-cell px-5 py-3"><%= certificate.e_service %></div>
        <div class="table-cell px-5 py-3"><%= certificate.legal_entity %></div>
      </div>
    <% end %>
  </div>
</div>

