<div id="cerificates">

  <div class="table border-collapse border w-full rounded-lg">
    <div class="table-header-group shadow-lg z-50">
      <div class="table-row border border-gray-200 bg-gradient-to-t from-gray-100 to-gray-200 text-xs font-bold">
        <div class="table-cell text-left px-3 py-2">ФИО</div>
        <div class="table-cell text-left px-3 py-2">Номер запроса</div>
        <div class="table-cell text-left px-3 py-2">Ссылка на запрос</div>
        <div class="table-cell text-left px-3 py-2">Дата окончания</div>
        <div class="table-cell text-center px-3 py-2">Статус</div>
        <div class="table-cell text-center px-3 py-2">Сервис</div>
        <div class="table-cell text-center px-3 py-2">ЮЛ</div>
      </div>
    </div>

  <div class="table-row-group z-0 text-sm">
    <% certificates.each do |certificate| %>
      <div class="table-row border-b 
                  <% if certificate.two_months_left %>
                    bg-yellow-200
                  <% elsif certificate.one_months_left %>
                    bg-red-200
                  <% else %>
                    bg-white
                    even:bg-gray-100 
                    border-gray-100
                  <% end %>
                  border-gray-400">
        <div class="table-cell align-middle px-3 py-2" title="Создан <%= certificate.created_at %>"><%= link_to certificate.employee.name_with_initial, employee_path(certificate.employee) %></div>
        <div class="table-cell align-middle px-3 py-2"><%= certificate.request_number %></div>
        <div class="table-cell align-middle max-w-sm break-all px-3 py-2"><%= certificate.request_link %></div>
        <div class="table-cell align-middle px-3 py-2"><%= certificate.end_date %></div>
        <div class="table-cell align-middle grid justify-items-center px-3 py-2">
          <div clas="grid justify-items-center">
            <% status_for_select.each do |status| %>
              <%= button_to employee_certificate_path(certificate.employee_id, certificate, 
                            certificate:{ status: status }), 
                            class: "border border-gray-200 rounded hover:shadow-lg transition px-2 py-1 #{ certificate.status == status ? certificate.status_class : "bg-gray-50" }", 
                            title: t("enumerize.certificate.status.#{status}", locale: :ru), method: :patch do %>
                <i class="<%= status_button_icon(status) %>"></i> <%# certificates_helper method %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="table-cell align-middle text-center px-3 py-2"><%= certificate.e_service %></div>
        <div class="table-cell align-middle text-center px-3 py-2">
          <%= check_box_tag 'legal_entity', certificate.legal_entity?, (certificate.legal_entity? ? 'checked' : nil), disabled: true %>
        </div>
      </div>
    <% end %>
  </div>
</div>
