<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-stone-700 text-3xl">Сертификаты</h1>
  </div>

  <div class="mb-3"> <!-- Certificates import -->
    <h3>Certificates import</h3>
    <%= form_tag certificates_import_path, multipart: true do %>
    <div class="col input-group">
      <%= file_field_tag :file, class: "form-control" %>
    </div>
    <%= submit_tag "Импортировать", class: "btn btn-sm default-btn" %>
    <% end %>
  </div> <!-- Certificates import -->

  <div id="certificates" class="min-w-full">
    <%= render "certificate_all", certificates: @certificates %>
  </div>
  <div class="my-5"><%== pagy_nav(@pagy) %></div>
</div>
