<div class="w-full">

  <div class="flex justify-between mb-3">
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-stone-700 text-3xl">Сертификаты</h1>
    </div>

    <div class="w-1/3">
      <fieldset class="p-3 border">
        <legend>Фильтры</legend>
        <%= form_tag certificates_path, class: "grid grid-cols-4 gap-3 w-full mb-3", method: :get do %>
          <div class="col-start-2 col-span-2">
            <%= select_tag :status, 
                            options_for_select(Certificate.status.values.map{ |s| [I18n.t(s, locale: :ru), s] }, 
                            selected: params[:status]), 
                            include_blank: true, 
                            class: "shadow rounded-md border border-gray-200 outline-none px-3 py-1 w-full" %>
          </div>
          <div class="col-span-1">
            <%= submit_tag "Filter", class:"rounded-lg cursor-pointer py-1 px-3 bg-gradient-to-b from-blue-400 to-blue-500 text-white font-medium w-full" %>
          </div>
        <% end %>
        
        <div class="flex items-center justify-end">
          <%= button_to certificates_path, 
                                method: :get, 
                                class: " 
                                        justify-center
                                        inline-flex items-center
                                        #{ request.fullpath == certificates_path ? "bg-gray-200 shadow-inner" : "bg-gradient-to-b from-gray-100 to-gray-200" } 
                                        border 
                                        cursor-pointer 
                                        py-2 px-3 
                                        rounded-l
                                        text-xs 
                                        w-full" do %>
            <span>ВСЕ</span>
            <span class="bg-gray-400 text-white rounded-full h-6 px-2 flex items-center ml-2"><%= Certificate.all.count %></span>
          <% end %>
          <%= button_to certificates_path, 
                              params: {legal_entity: true}, 
                              method: :get, 
                              class: "#{ params[:legal_entity] ? "bg-gray-200 shadow-inner" : "bg-gradient-to-b from-gray-100 to-gray-200"} 
                                      justify-center
                                      inline-flex items-center
                                      border 
                                      cursor-pointer 
                                      py-2 
                                      px-3 
                                      text-xs
                                       
                                      w-full" do %>
            <span>ЮЛ</span>
            <span class="bg-gray-400 text-white rounded-full h-6 px-2 flex items-center ml-2"><%= Certificate.select_legal_entity.count %></span>
          <% end %>
          <%= button_to certificates_path, 
                              params: {one_months_left: true}, 
                              method: :get, 
                              class: "#{ params[:one_months_left] ? "bg-gray-200 shadow-inner" : "bg-gradient-to-b from-gray-100 to-gray-200"} 
                                      justify-center
                                      inline-flex items-center
                                      border 
                                      cursor-pointer 
                                      py-2 
                                      px-3 
                                       
                                      text-xs
                                      w-full" do %>
            <span>Меньше месяца</span>
            <span class="bg-gray-400 text-white rounded-full h-6 px-2 flex items-center ml-2"><%= Certificate.one_months_left_counter %></span>
          <% end %>

          <%= button_to certificates_path, 
                              params: {two_months_left: true}, 
                              method: :get, 
                              class: "#{ params[:two_months_left] ? "bg-gray-200 shadow-inner" : "bg-gradient-to-b from-gray-100 to-gray-200"} 
                                      justify-center
                                      inline-flex items-center
                                      border 
                                      cursor-pointer 
                                      py-2 
                                      px-3 
                                      rounded-r
                                      text-xs
                                      w-full" do %>
            <span>Меньше 2-x месяца</span>
            <span class="bg-gray-400 text-white rounded-full h-6 px-2 flex items-center ml-2"><%= Certificate.two_months_left_counter %></span>
          <% end %>
        </div>
      </fieldset>
    </div>
  </div>
  
  <div id="certificates" class="min-w-full">
    <%= render "certificate_all", certificates: @certificates %>
  </div>
  <div class="my-5"><%== pagy_nav(@pagy) if @pagy.present? %></div>

  <details>
    <summary>Import</summary>
    <div class="mb-3"> <!-- Certificates import -->
      <h3>Certificates import</h3>
      <%= form_tag certificates_import_path, multipart: true do %>
      <div class="col input-group">
        <%= file_field_tag :file, class: "form-control" %>
      </div>
      <%= submit_tag "Импортировать", class: "btn btn-sm default-btn" %>
      <% end %>
    </div> <!-- Certificates import -->
  </details>
</div>
